{% extends 'layout.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
<a href="{% url 'groups:add' %}">+ Add new group</a>
        <h1>Groups:</h1>
        <table style="border: 1px solid black;">
            <tr>
                <th>Name</th>
                <th>Members</th>
                <th>Is Group Member</th>
                <th>Actions</th>
            </tr>
            {% for group in groups %}
                <tr>
                    <td>{{ group.name }}</td>
                    <td>{{ group.members.count }}</td>
                    <td>{% if group.current_user_is_member %}Yes{% else %}No{% endif %}</td>
                    <td>
                        {% if group.current_user_is_member %}
                        <a href="{% url 'groups:leave' group_id=group.id %}" >Leave</a>
                        {% else %}
                            <a href="{% url 'groups:join' group_id=group.id %}" >Join</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
{% endblock %}
